nav {

    a {
        display: block;
        position: relative;
    }
    
    
    //** La bare **//
    a::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 12px white;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }
    
    // a:hover::after,
    // a:focus::after {
    //     opacity: 1;
    //     transform: translate3d(0, 0.2em, 0);
    // }
    
    li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .under_menu{
        //padding: 0 2rem;
        a{
        padding: 0 1rem;

        }
    }


    li a::after {
        opacity  :1;
        transform: scale(0);
        transform-origin: center;
    }
    
    .under_menu a:hover::after,
    .under_menu a:focus::after {
        transform: scale(1);
    }

    .home_li  a::after {
        opacity: 0;
    }
}


.nav_selected_item {
    a::after {
        transform: scale(1);
    }

    a::after{
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
    
}



.catch{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3rem auto;
    background: -webkit-linear-gradient(45deg, #827aff, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}